fastapi
uvicorn
transformers
accelerate
langchain-groq
langchain-ollama
markdown-pdf
requests
streamlit
pyttsx3
SpeechRecognition
python-multipart
langchain_chroma
langchain_huggingface
langchain
langchain_community
langchain_core
langchain_text_splitters
sentence-transformers
pypdf
googletrans
easyocr
pillow
tqdm
huggingface-hub
langchain-core
langchain-huggingface
streamlit_pdf_viewer
langchain_groq